<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.repository }}/">Home</a>
  </li>
  <li class="{% if page.url contains '/biography/' %}current{% endif %}">
    <a href="{{ site.repository }}/biography/">Biography</a>
  </li>
  <li class="{% if page.url contains '/research/' %}current{% endif %}">
    <a href="{{ site.repository }}/research/">Research</a>
  </li>
  <li class="{% if page.url contains '/publications/' %}current{% endif %}">
    <a href="{{ site.repository }}/publications/">Publications</a>
  </li>
  <li class="{% if page.url contains '/group/' %}current{% endif %}">
    <a href="{{ site.repository }}/group/">Group</a>
  </li>
  <li class="{% if page.url contains '/contact/' %}current{% endif %}">
    <a href="{{ site.repository }}/contact/">Contact</a>
  </li>
  <li class="{% if page.url contains '/chinfo/' %}current{% endif %}">
    <a href="{{ site.repository }}/chinfo/">中文简介</a>
  </li>
</ul>
