<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.url contains '/biography/' %}current{% endif %}">
    <a href="/biography/">Biography</a>
  </li>
  <li class="{% if page.url contains '/research/' %}current{% endif %}">
    <a href="/research/">Research</a>
  </li>
  <li class="{% if page.url contains '/publications/' %}current{% endif %}">
    <a href="/publications/">Publications</a>
  </li>
  <li class="{% if page.url contains '/group/' %}current{% endif %}">
    <a href="/group/">Group</a>
  </li>
  <li class="{% if page.url contains '/contact/' %}current{% endif %}">
    <a href="/contact/">Contact</a>
  </li>
  <li class="{% if page.url contains '/chinfo/' %}current{% endif %}">
    <a href="/chinfo/">中文简介</a>
  </li>
</ul>
